doctype html
html(lang="en")
  head
    title Automatic Events Webhook Demo
    meta(http-equiv="content-type" content="text/html; charset=utf-8")
    meta(http-equiv="X-UA-Compatible" content="chrome=1")
    meta(name="viewport" content="width=device-width")
    meta(name="description" content="A Demo app using webhooks with the Automatic Events API")

    link(rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" media="screen")
    link(rel="stylesheet" type="text/css" href="/css/style.css" media="screen")
    link(rel="stylesheet" type="text/css" href="/bower_components/mapbox.js/mapbox.css")
  
  body
    .mainHeader
      a.logo(href="http://automatic.com")
      .titlebar
        h1 <span class="full-title">Automatic</span> Events Webhook Demo</h1>
      if loggedIn
        nav.navbar.navbar-default(role="navigation")
          .container-fluid
            .navbar-header
              button.navbar-toggle.collapsed(type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar")
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar

            #navbar.collapse.navbar-collapse
              ul.nav.navbar-nav.navbar-right
                li
                  a(href="/logout/") Log Out
                  
    block content
    
    script.
      var mapboxAccessToken = '#{mapboxAccessToken}';

    script(src="/bower_components/mapbox.js/mapbox.js")
    script(src="/bower_components/polyline/src/polyline.js")
    script(src="/bower_components/jquery/dist/jquery.min.js")
    script(src="/bower_components/bootstrap/dist/js/bootstrap.min.js")
    script(src="/bower_components/moment/min/moment.min.js")
    script(src="/javascripts/index.js")
