extends layout

block content
  .panel.signin-panel
    .panel-body
      .row
        .col-sm-10.col-sm-offset-1
          h2.signin-title Real-time Trip Data
          p Visualize real-time vehicle events from <a href="http://automatic.com" target="_blank">Automatic</a> on a map.
      .row
        .col.md-12
          .signin-graphics
            .logo-badge-automatic
            .icon-integrations-arrows
            .logo-badge-automatic-events-webhook-demo WH
      .row.border-both
        .signin-instructions
          .signin-text Authorize your Automatic account
        a.signin-btn(href="/authorize/") Authorize
      .row
        .col-md-12
          .signin-learnmore View this app on
            a.link-blue(href="https://github.com/automatic/automatic-events-webhook-demo")  Github
